<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
      <h1>
        Tech Blog
      </h1>
    </header>
     <nav>
      <ul>
        <li><a href="/">homepage</a></li>
        <li><a href="/dashboard">dashboard</a></li>
        <li><a href="/login">log in</a></li>
      </ul>
    </nav>
      <main>
        {{{ body }}}
      </main>
  </div>
  </body>

</html>