:root{
  --dark: rgb(75, 56, 56);
  --light: rgb(209, 193, 193);
}

body {
  background-color: var(--light);
}

.header {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
}

nav-item {
  background-color: var(--light);
  text-decoration: none;
  margin-left: 1.5rem;
}

header h1{
  background-color: var(--light);
  color: var(--dark);
  width: 200px;
  margin-left: 20px;
  padding: 0.5rem;
  border-radius: 5rem;
  box-shadow: 4px 4px #c0a9a9;
}

ul {
  list-style-type: none;
}

.post-container{
  border: 2.25px solid var(--dark);
  margin: 2.25rem;
}

post-header{
  display: flex;
  justify-content: space-between;
  background-color: var(--dark);
  color: var(--light);
  padding: 0 0.5rem;
}















/* body {
  background-color: #8EE4AF;
}

nav {
  background-color: #5CDB95;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

nav ul {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  margin-top: 10px;
  color: black;
  text-decoration: none;
}

nav ul a {
  text-decoration: none;
  color: black;
}

nav ul a:visited {
  text-decoration: none;
  color: black;
}

nav ul a:hover {
  text-decoration: underline;
}

.home-title {
  text-align: center;
  width: 80vh;
  margin: 10px auto;
}

.home-h1 {
  color: blue;
}

.home-h4 {
  color: black;
}

.post-item {
  border: 2px dotted #05384B;
  text-align: center;
  width: 40vh;
  margin: 0 auto;
  padding-bottom: 10px;
}

.home-posts-area {
  list-style-type: none;
  margin-bottom: 5px;
}

.login-card, .signup-card {
  width: 40vh;
  margin: 10px auto;
  padding-bottom: 10px;
  border: 2px solid red;
  padding-left: 30px;
} */